*{
  background-color: transparent;
}
body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;

  height:100%;
  width:100%;
}

.header {
  background: #252525;

  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.left{
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 10px;

  border: none;
  border-radius: 8px;
  background: white;
  padding: 8px 24px;
}

.right{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}


.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  min-width: 10px;
  margin-right: 12px;
  
  background: transparent;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
  font-size: 150%;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: grey;
  font-weight: bold;
  flex-wrap: nowrap;
}

ul {
  list-style-type: none;

  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
}

section {
    display: block;
    background: #252525;
    height:100%;
    width:100%;
    padding: 60px;
    padding-left: 10%;
    box-sizing:border-box;
}

.title-page{
  font-size:8vw;
  color: beige;
}

.subtitle{
  font-size: 3vw;
  color: beige;
}