*{
    background-color: #252525;
    padding: 2px;
    margin: 0px;
    font-size: 22px;
    color: antiquewhite;
}

.main-title{
    font-size: 200%;
    color: azure;
    padding-top: 100px;
}

.subtext{
    padding: 20px;
    margin-top: 15px;
}